<section id="about" class="about">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>About Me</h2>
        <hr class="section-divider">

        <img src="/Profile/assets/profile.jpg" alt="Photo of Logan Brock" width="200">
        
        <p class="lead">
          Hello, my name is Logan Brock.
          I am a student at the University of North Carolina at Greensboro.
          I am currently a History major in a dual-enrollment program with my Master of Library and Information Science degree.
        </p>

        <p>
          I created this website to share my professional background, resume, and work.
          My goal is to build skills that will support my future career as an academic librarian and my professional development.
          Being an academic librarian has been a dream of mine because I want to aid others in their research goals and help the younger generation learn proper research techniques through library tools.
        </p>
      </div>
    </div>
  </div>
</section>