<section id="about" class="about">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>About Me</h2>
        <hr class="section-divider">

<img src="profile.jpg" alt="Photo of Logan Brock" width="200">

        <p class="lead">
          Hello, my name is Logan Brock. I am a student at the University of North Carolina at Greensboro, and I am interested in libraries, information, and technology.
        </p>

        <p>
          I created this website to share my professional background, resume, and work. My goal is to build skills that will support my future career as an academic librarian and my professional development.
        </p>
      </div>
    </div>
  </div>
</section>